.mobileDropdown {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  top: -0.9em;
  left: 0;
  width: 80vw;
  height: 80vh;
  padding-left: 2%;
  background-color: white;
  border-right: 0.1px grey solid;
  border-bottom: 0.1px solid grey;
}

.mobileDropdown a {
  width: 100%;
}

.mobileDropdown li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px solid grey;
  width: 100%;
  font-size: large;
  padding: 2% 0;
}

.mobileDropdown li:first-child {
  justify-content: flex-start;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-family: 'AkzidenzGrotesk';
  text-decoration: none;
  font-size: medium;
}

.mobileDropdown li:hover {
  cursor: pointer;
}

.mobileDropdown a {
  width: 100%;
}

.mobileDropdown div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}