.mobileDropdown {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* font-size: 100%; */
  z-index: 5;
  top:-0.9em;
  /* top: 0; */
  left: 0;
  /* width: 100%; */
  /* max-width: 500px; */
  width: 500px;
  height: 80vh;
  padding: 0;
  /* background-color: orange; */
  border-bottom: 0.1px grey solid;
}

.mobileDropdown a{
  width: 100%;
}

.mobileDropdown li {
  border-bottom: 0.1px solid grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileDropdown li:first-child{
  justify-content: flex-start;
  column-gap: 15%;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-family: 'AkzidenzGrotesk';
  text-decoration: none;
}

.mobileDropdown li:hover {
  cursor: pointer;
}


.mobileDropdown li {
  height: 4vh;
  font-size: large;
}

.mobileDropdown a{
  width: 100%;
}

.mobileDropdown div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}