.landingContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bannerContent {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 12rem;
  width: 100%;
  padding: 0 1em;
}

.bannerContent > img {
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: auto; */
  margin: 1rem 0;
}

.title{
  width: 80vw;
}

@media only screen and (min-width: 768px){
  .landingContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .bannerContent {
    margin-top: 20rem;
  }
  
  .bannerContent > img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 2.8rem 0;
  }
}
