.page_container{
  width: 100%;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 50px; */
  width: 100%;
}


.inputContainer {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputContainer > *{
  width: 80%;
}

.inputContainer > input {
  height: 50px;
  padding-left: 10px;
}