.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  margin-top: 5%;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px rgb(218, 216, 216) solid;
  width: 40vw;
  max-width: 500px;
  top: 150px;
  padding-bottom: 40px;
}

.heads_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
}

.heads_container>div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgb(218, 216, 216) solid 5px;
}

.heads_container>div>div {
  width: 50%;
  height: 100%;
  background-color: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.focus {
  background-color: rgb(4,10,43);
  color: white;
}

.form_container {
  width: 100%;
}

@media (max-width: 768px) {

  .container {
    margin-top: 15%;
  }

  .card_container {
    width: 80vw;
  }
}