.container{
  max-width: 100vw;
  padding: 5vh 5vw;
}

.container h1 {
  font-family: 'Optima';
  font-size: 3rem;
  font-weight: 300;
}

.container > div {
  font-family: 'AkzidenzGrotesk';
  font-size: 1.2rem;
}

.sec{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 12vh 0;
}

.text{
  width: 43vw;
  margin: 0 2vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.text h2 {
  font-family: 'Optima';
  font-size: 2rem;
  font-weight: 200;
}

.container h2{
  margin: 0;
}

.text button{
  margin-left: auto;
}

.image{
  width: 55vw;
}

.recommend{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.25);
  row-gap: 2em;
  padding: 2rem;
}

.product{
  font-size: 1.2em;
  gap: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product input{
  width: 1.5em;
  height: 1.5em;
}

.product img{
  width: 2em;
}

.product div{
  font-size: 1.2rem;
}

.person_img{
  width:100%;
}

@media screen and (max-width: 740px) {
  .sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
  }

  .image {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text{
    display: flex;
  }

  .image, 
  .text {
    width: 100%;
    justify-content: center;
  }

  .container .sec:nth-child(odd) .text {
    order: 2;
  }
}