.top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.left {
  width: 20%;
  margin: 2rem;
}

.left > h1 {
  font-family: 'Optima';
  font-weight: 400;
  font-size: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left > h3 {
  font-family: 'AkzidenzGrotesk';
  font-weight: 400;
  font-size: 20px;
  line-height: 128%;
}

.right {
  max-width: 60%;
  max-height: 60%;
  margin: 1.8rem;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.3rem;
}

.mission > h2 {
  font-family: 'Roboto';
  font-weight: 700;

}

.mission > p {
  font-family: 'Optima';
  font-size: 30px;
  font-weight: 400;
  width: 60%;
  line-height: 170%;
  text-align: center;
}

.accessibility {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(170, 170, 170, 0.08);
  height: 24rem;
}

.accessibility > h2 {
  font-family: 'Optima';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icons > div {
  margin: 1.2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons > div> p {
  font-family: 'AkzidenzGrotesk';
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  margin: 2.8rem;
  padding: 1rem;
}

.example > h2 {
  max-width: 55%;
  text-align: center;
}

.makeup {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'AkzidenzGrotesk';
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem;
  border: 1px solid #D8D8D8;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.bottom img {
  margin: 6rem;
}

.bottom p {
  font-family: 'Optima';
  font-weight: 400;
  font-size: 22px;
  padding: 2rem;
  line-height: 178%;
}

@media only screen and (max-width: 768px) {
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .left {
    width: 20%;
    margin: 2rem;
  }
  
  .left > h1 {
    font-family: 'Optima';
    font-weight: 400;
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .left > h3 {
    font-family: 'AkzidenzGrotesk';
    font-weight: 400;
    font-size: 20px;
    line-height: 128%;
  }
  
  .right {
    max-width: 60%;
    max-height: 60%;
    margin: 1.8rem;
  }
  
  .mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.3rem;
  }
  
  .mission > h2 {
    font-family: 'Roboto';
    font-weight: 700;
  
  }
  
  .mission > p {
    font-family: 'Optima';
    font-size: 30px;
    font-weight: 400;
    width: 60%;
    line-height: 170%;
    text-align: center;
  }
  
  .accessibility {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(170, 170, 170, 0.08);
    height: 24rem;
  }
  
  .accessibility > h2 {
    font-family: 'Optima';
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .icons > div {
    margin: 1.2rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icons > div> p {
    font-family: 'AkzidenzGrotesk';
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  
  .example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    margin: 2.8rem;
    padding: 1rem;
  }
  
  .example > h2 {
    max-width: 55%;
    text-align: center;
  }
  
  .makeup {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'AkzidenzGrotesk';
  }
  
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem;
    border: 1px solid #D8D8D8;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
  }
  
  .bottom img {
    margin: 6rem;
  }
  
  .bottom p {
    font-family: 'Optima';
    font-weight: 400;
    font-size: 22px;
    padding: 2rem;
    line-height: 178%;
  }
}