.head {
  /* position: relative; */
  width: 100%;
}

.head>img {
  height: 40vh;
  max-width: 100%;
  position: absolute;
  /* right: -7.5em; */
}

.textBlock {
  position: absolute;
  z-index: 4;
  margin-top: 5vh;
  margin-left: 1rem;
  width: 50vw;
}

.textBlock>h3 {
  font-weight: 400;
  font-size: xx-small;
}

.textBlock>h1 {
  font-family: 'Optima';
  font-size: 1.3rem;
  font-weight: 300;
}

.textBlock>p {
  font-size: xx-small;
}

.textBlock button {
  width: 50%;
  font-size: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .head>img {
    width: 100%;
    height: auto;
    left: 0;
  }

  .textBlock {
    width: 35%;
    margin-top: 20vh;
    margin-left: 8rem;
  }

  .textBlock>h1 {
    font-size: 3.7rem;
  }

  .textBlock>h3 {
  font-weight: 400;
  font-size: large;
}

  .textBlock>p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .textBlock button {
    width: 40%;
    font-size: 1rem;
  }
}